<div class="education">
  {{ if .Params.thumbnail }}
  <div class="work-image">
    <a href="{{ .RelPermalink }}"><img src="{{ .Params.photo | relURL }}"/></a>
  </div>
  {{ end }}
  <div class="work-content">
    <h4 class="work-title">
      <a href="{{ .Permalink }}">{{ .Params.Education }}</a>
    </h4>
   <h3 class="work-title">
      <a href="{{ .Permalink }}">{{ .Params.Ed }}</a>
    </h3>
    <h4 class="work-title">
      <a href="{{ .Permalink }}">{{ .Params.Phone }}</a>
    </h4>
  </div>
</div>